# ESP-IDF Standard Ignores
build/
sdkconfig
sdkconfig.old

# IDE & Editor Configs
.vscode/
.idea/
.cache/
.clangd/
compile_commands.json

# Toolchain specific
managed_components/
dependencies.lock

# Operating System Files
*.DS_Store
Thumbs.db

# Project-specific artifacts
diagram.json.bak
*.log

# Unit Test artifacts
test_build/
bin/
